.answer {
  text-align: center;
  width: 60%;
  padding: 20px;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(239, 245, 247);
}

.answer-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s;
  font-size: 1.25rem;
  height: 40px;
}

.answer-button:hover {
  background: rgb(85, 85, 72);
  color: white;
}

.lilFlag {
  height: 30px;
}

.artist-image {
  height: 200px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 660px) {
  .answer {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  button.answer-button {
    border-radius: 5px;
    padding: 5px;
    margin: 1%;
    text-align: center;
    transition: background-color 0.25s;
    font-size: 1rem;
    height: auto;
  }
  
  .lilFlag {
    height: 15px;
  }
  
  .artist-image {
    height: 160px;
    padding: 0px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 308px) {
  .answer {
    font-size: 0.9rem;
  }
  .lilFlag {
    height: 10px;
  }
}