.answer {
  text-align: center;
  width: 60%;
  padding: 20px;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(239, 245, 247);
}

.answer-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s;
  font-size: 1.25rem;
  height: 40px;
}

.answer-button:hover {
  background: rgb(85, 85, 72);
  color: white;
}

.lilFlag {
  height: 30px;
}

.artist-image {
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* .highlight {
  transition: all 0.3s;
  bottom: 0;
  left: 250px;
  border-bottom:2px solid white;
  position: absolute;
  top:0;
  background:rgba(255, 255, 255, 0.473);
  left:0;
  z-index: -1;
  border-radius:20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
} */