.intro {
  text-align: center;
}

.intro h1 {
  padding: 15px;
  padding-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(239, 245, 247);

}

.logo {
  text-align: center;
}

.intro p {
  color: rgb(239, 245, 247);
}

.game-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #03273f;
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s;
  font-size: 1.25rem;
  width: 100px;
  height: 40px;
}

.game-button:hover {
  background: rgb(85, 85, 72);
  color: white;
}

.center-start {
  display: block;
  margin: 25px auto;
}