.question-lyrics {
  width: 60%;
  padding: 20px;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(239, 245, 247);
  text-align: center;
}

.button-container {
  text-align: center;
}

.answer-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #03273f;
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s;
  font-size: 1.25rem;
  height: 40px;
}

.answer-button:hover {
  background: rgb(85, 85, 72);
  color: white;
}

.question-play-buttons {
  margin: 0px auto;
  margin-top: 30px;
  text-align: center;
}

.speak-question {
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #03273f;
  padding: 5px 12px;
  transition: background-color 0.2s, color 0.2s;
  font-weight: 700;
  font-family: 'Raleway';
}

.speak-question:hover {
  color: white;
  background-color: rgb(85, 85, 72);
}


@media screen and (max-width: 660px) {
  .question-lyrics {
    width: 90%;
    padding: 0px;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 1rem;
  }

  button.answer-button {
    color: #03273f;
    padding: 3px 10px;
    margin: 1%;
    margin-top: 10px;
    font-size: 1.1rem;
    height: auto;
  }
  .speak-question {
    padding: 5px 10px;
  }
}