.results {
  text-align: center;
}

.results-score {
  text-align: center;
  width: 60%;
  padding: 20px;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(239, 245, 247);
}

.results-image {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.reset-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  transition: background-color 0.25s;
  font-size: 1.25rem;
  height: 40px;
}

.reset-button:hover {
  background: rgb(85, 85, 72);
  color: white;
}


@media screen and (max-width: 660px) {  
  .results-score {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 30px auto;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .results-image{
    height: 160px;
    padding: 0px;
    margin: 0 auto;
  }
  
  .reset-button {
    padding: 0px 10px;
    margin: 0px;
    font-size: 1.1rem;
  }
}